<mat-card class="mb-3">
    <a class="btn btn-lg p-0 m-0">
        <mat-card-title (click)="onDetailTask()">{{task.title}}</mat-card-title>
    </a>
    <mat-card-subtitle>{{task.status}}</mat-card-subtitle>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)=" onSetTo('Next Up')">Next Up</button>
        <button mat-stroked-button color="accent" (click)="onSetTo('In-Progress')">In-Progress</button>
        <button mat-stroked-button color="warn" (click)="onSetTo('Completed')">Completed</button>
    </mat-card-actions>
</mat-card>