<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1>Update Posts ID "{{post.id}}"</h1>
            <div class="card">
                <div class="card-body">
                    <p>{{post.title}}</p>
                    <p>{{post.body}}</p>
                    <hr>
                    <form [formGroup]="updatePost" (ngSubmit)="onUpdatePost()">
                        <input type="hidden" class="form-control" id="id" [formControlName]="'id'">
                        <input type="hidden" class="form-control" id="userId" [formControlName]="'userId'">
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" [formControlName]="'title'">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="body">Body</label>
                            <textarea class="form-control" id="body" [formControlName]="'body'"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary me-2" type="submit">
                                Update Post
                            </button>
                            <button class="btn btn-secondary me-2" type="button" (click)="onBack()">
                                Back
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>