<h2>Task ID "{{task.id}}" Detail</h2>
<mat-card class="mb-3">
    <mat-card-title>{{task.title}}</mat-card-title>
    <mat-card-subtitle>{{task.status}}</mat-card-subtitle>
    <mat-card-content>
        <p>{{task.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="basic" [routerLink]="['/tasks']">&larr; Back</button>
        <button mat-raised-button color="warn" (click)="onEdit(task.title, task.status, task.description)">Edit</button>
    </mat-card-actions>
</mat-card>