<div class="container my-5">
    <h1>Task ID "{{task.id}}" Detail</h1>
    <mat-card class="mb-3">
        <mat-card-title>{{task.title}}</mat-card-title>
        <mat-card-subtitle>{{task.status}}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-stroked-button color="basic">Next Up</button>
            <button mat-stroked-button color="accent">In-Progress</button>
            <button mat-stroked-button color="warn">Completed</button>
        </mat-card-actions>
    </mat-card>
</div>