table {
    width: 50%;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

td,
th {
    padding: 10px;
}

.first-span {
    font-size: 40px;
    font-weight: bold;
}

span {
    word-spacing: 5px;
    line-height: 30px;
}