<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> No. </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <tr> Name </tr>
            <tr>
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Ex. ium" #input>
                </mat-form-field>
            </tr>
        </th>
        <td mat-cell *matCellDef="let row">{{row.civility}} {{row.first_name}} {{row.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="user_type">
        <th mat-header-cell *matHeaderCellDef>
            <tr> Usertype </tr>
            <tr>
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Ex. ium" #input>
                </mat-form-field>
            </tr>
        </th>
        <td mat-cell *matCellDef="let row">{{row.company.user_type}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
            <tr> Email </tr>
            <tr>
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="Ex. ium" #input>
                </mat-form-field>
            </tr>
        </th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="user_status">
        <th mat-header-cell *matHeaderCellDef>
            <tr> Status </tr>
            <tr>
                <mat-form-field>
                    <mat-select placeholder="Ex. ium" #input>
                        <mat-option value="all">All</mat-option>
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="pending">Pending</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>
        </th>
        <td mat-cell *matCellDef="let row">
            <span *ngIf="row.user_status == 'active'">
                <mat-icon color="accent">check_circle</mat-icon>
            </span>
            <span *ngIf="row.user_status == 'pending'">
                <mat-icon color="warn">cancel</mat-icon>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef>
            <mat-spinner></mat-spinner>
        </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!loading"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="loading"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
</mat-paginator>