<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <mat-list-item>
                <h1>Menu</h1>
            </mat-list-item>
            <mat-list-item>
                <button mat-stroked-button (click)="movieList()">Movie List</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-stroked-button (click)="actorList()">Actor List</button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <div class="container my-3">
            <div class="example-sidenav-content">
                <button type="button" mat-raised-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <h1>Movie List</h1>
                    <app-movie-list *ngFor="let mv of movies" [movie]="mv"></app-movie-list>
                </div>
                <div class="col-6">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>