<div class="container my-5">
    <h1>Task Manager</h1>
    <div class="row mb-4">
        <div class="col-6">
            <h2>Add</h2>
            <app-card-add></app-card-add>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6">
            <h2>List</h2>
            <app-card-item *ngFor="let tsk of tasks; let i = index" [task]="tsk" [id]="tsk.id">
            </app-card-item>
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>