<div class="container my-5">
    <h1>Lists</h1>
    <div class="row mb-5">
        <div class="col-6">
            <app-list-add (listCreated)="onAddList($event)"></app-list-add>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <div class="row">
                <div class="col mb-2">
                    <div class="input-group mb-2">
                        <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
                        <input type="text" class="form-control" id="list-type" #listTypeInput>
                    </div>
                    <button class="btn btn-danger w-100" (click)="onDestroyFirst()">Destroy first Element</button>
                </div>
            </div>
            <ol class="list-group list-group-numbered">
                <app-list-item *ngFor="let list of lists" [listElement]="list" [type]="list.type">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{list.name}}</div>
                        <p #contentParagraph>{{list.content}}</p>
                    </div>
                    <!-- <span class="badge bg-primary rounded-pill">{{list.type}}</span> -->
                </app-list-item>
            </ol>
        </div>
    </div>
</div>