* {
    font-family: Poppins, sans-serif;
    color: blue;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fb;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-decoration: none;
    margin: 0 1.5rem 0 0;
}

.navbar {
    background-color: #fff;
    margin: 0;
    padding: 1rem;
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: auto;
    align-items: center;
}

.nav-link {
    padding: 1rem 0.5rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #e7e7e7;
    color: #000;
}

.title {
    margin: 15px 30px 0px 15px;
    font-weight: 500;
    text-align: center;
}

.title::first-letter {
    font-weight: 800;
    font-size: 40px;
    color: blue;
}

.subtitle {
    color: #000;
    text-align: center;
    margin: auto 20px;
    font-weight: 500;
}

main {
    min-height: 100vh;
}

.my-0 {
    margin: 0px auto 0px auto !important;
}

.my-1 {
    margin: 1rem auto !important;
}

.mb-0 {
    margin: auto auto 0px auto !important;
}

.m-1 {
    margin: 1rem !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* margin-bottom: 2%; */
    flex: 0 30%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    background-color: #fff;
}

.card img {
    border-radius: 7px 7px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card div {
    padding: 0px 10px 10px 10px;
}

/* title of the card */
.card div h3 {
    font-size: 20px;
    margin: 5px 0px;
}

.card div p {
    color: #777;
    font-size: 14px;
    margin: 0px;
}

.list {
    height: 200px;
    overflow: auto;
    margin: 0.5rem 1rem 1rem;
}

.shadow-md {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
}

.button:hover {
    background-color: #0066ff;
}

.button:active {
    background-color: #0066ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

form table {
    margin: 0px auto 20px auto;
}

.form-control {
    width: 100%;
}

footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

footer a {
    display: inline-block;
    padding: 7px;
    margin: 20px auto;
}

footer a:hover,
footer p {
    color: #000;
}